body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: #333;
}

nav {
    background: #222;
    padding: 20px;
    text-align: center;
}

nav h2 {
    color: white;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
}

section {
    padding: 60px;
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2 {
    color: #333;
}